In [1]:
import numpy as np
import pandas as pd

from scipy.stats import beta
import seaborn as sns
import matplotlib.pyplot as plt
import gc
from tqdm import tqdm


path = './data/'
output = './output/'
figs = './figs/'

player_ext = 'Players_2019.csv'
event_ext = 'Events_2019.csv'
teams_ext = 'Teams.csv'

df = pd.read_csv(path+event_ext)
players = pd.read_csv(path+player_ext)

In [2]:
def get_time_remain(events):
    events['GameID'] = events['Season'].astype(str) + events['DayNum'].astype(str) + events['WTeamID'].astype(str) + events['LTeamID'].astype(str)
    events['OT'] = (events['ElapsedSeconds'] - 2400)/300
    events['OT'] = np.where(events['OT'] < 0, 0, np.ceil(events['OT'])).astype(int)
    events['TimeRemain'] = 2400 + (events['OT'] * 300) - events['ElapsedSeconds']

    return events


df = get_time_remain(df)

In [3]:

def add_score_diff(events):
    
    events['WDiff'] = events['WPoints'] - events['LPoints']
    
    # relative to event
    events.loc[:,'EDiff'] = np.where(events['EventTeamID']==events['WTeamID'], events['WDiff'], -1*events['WDiff'])
    
    
    return events

df = add_score_diff(df)

In [4]:
print(df.EventType.unique())

['assist' 'made2_jump' 'turnover' 'made3_jump' 'foul_pers' 'miss2_jump'
 'reb_def' 'miss3_jump' 'reb_off' 'miss1_free' 'sub_in' 'made1_free'
 'sub_out' 'steal' 'block' 'made2_dunk' 'timeout_tv' 'made2_lay'
 'miss2_lay' 'reb_dead' 'timeout' 'miss2_dunk' 'made2_tip' 'miss2_tip'
 'foul_tech']

In [5]:
df.head()

,EventID,Season,DayNum,WTeamID,LTeamID,WPoints,LPoints,ElapsedSeconds,EventTeamID,EventPlayerID,EventType,GameID,OT,TimeRemain,WDiff,EDiff
0,30099809,2019,1,1104,1380,0,0,18,1380,657441,assist,2019111041380,0,2382,0,0
1,30099810,2019,1,1104,1380,0,2,18,1380,657447,made2_jump,2019111041380,0,2382,-2,2
2,30099811,2019,1,1104,1380,2,2,42,1104,653561,made2_jump,2019111041380,0,2358,0,0
3,30099812,2019,1,1104,1380,0,0,58,1380,657437,turnover,2019111041380,0,2342,0,0
4,30099813,2019,1,1104,1380,0,0,63,1104,653565,assist,2019111041380,0,2337,0,0

In [6]:
# identify pairs and triplets of free throws
# they don't necessarily have consecutive event ids
# this is so that we can figure out if a free throw ends a possession


def get_pairs(events):
    
    events['TotalPoints'] = events['WPoints'] + events['LPoints']
    fts = ['made1_free','miss1_free']
    events['IsFT'] = np.where(events['EventType'].isin(fts), 'free_throw', events['EventType'])
    egb = events.groupby(['GameID','ElapsedSeconds','EventTeamID','IsFT'])['EventID'].count().reset_index()
    egb = egb.loc[(egb['IsFT']=='free_throw')&(egb['EventID']>1)]
    egb['PairOrTrip'] = 1
    egb.loc[egb['EventID']>3, 'PairOrTrip'] = 2
    egb = egb[['GameID','ElapsedSeconds','EventTeamID','PairOrTrip']]
    
    
    # separate ft df to keep event id information
    ft_df = events.loc[events['IsFT']=='free_throw']
    ft_df = ft_df[['EventID','GameID','ElapsedSeconds','EventTeamID','TotalPoints']]
    ft_df = ft_df.sort_values(by=['GameID','ElapsedSeconds','TotalPoints'])
    
    ft_df = pd.merge(ft_df, egb, how='left', left_on=['GameID','ElapsedSeconds','EventTeamID'], right_on=['GameID','ElapsedSeconds','EventTeamID'])

    # last deal is to separate out the 800 or so quadruple and quintuple sets of FTs
    doubles = ft_df.loc[ft_df['PairOrTrip']>1]
    
    egb = ft_df.groupby(['GameID','ElapsedSeconds','EventTeamID'])['EventID'].last().reset_index()
    # this marks the third to last FT in the quadruples and quintuples
    doubles = doubles.groupby(['GameID','ElapsedSeconds','EventTeamID'])['EventID'].nth(-2).reset_index()
    
    egb = egb[['EventID']]
    doubles = doubles[['EventID']]
    
    print(len(egb))
    egb = pd.concat([egb,doubles], axis=0)
    print(len(egb))
    
    egb['FTPossEnd'] = 1
    
    events = pd.merge(events,egb,how='left',on=['EventID','EventID']) 
    
    events['FTPossEnd'] = events['FTPossEnd'].copy().fillna(0)
    return events
# treat made and missed FTs the same

df = get_pairs(df)

df.loc[df['IsFT']=='free_throw'].head(5)

117145
117425

,EventID,Season,DayNum,WTeamID,LTeamID,WPoints,LPoints,ElapsedSeconds,EventTeamID,EventPlayerID,EventType,GameID,OT,TimeRemain,WDiff,EDiff,TotalPoints,IsFT,FTPossEnd
18,30099827,2019,1,1104,1380,0,0,177,1104,653562,miss1_free,2019111041380,0,2223,0,0,0,free_throw,0.0
22,30099831,2019,1,1104,1380,8,4,177,1104,653562,made1_free,2019111041380,0,2223,4,4,12,free_throw,1.0
103,30099912,2019,1,1104,1380,0,0,607,1380,657437,miss1_free,2019111041380,0,1793,0,0,0,free_throw,0.0
104,30099913,2019,1,1104,1380,0,0,607,1380,657437,miss1_free,2019111041380,0,1793,0,0,0,free_throw,0.0
105,30099914,2019,1,1104,1380,0,0,607,1380,657437,miss1_free,2019111041380,0,1793,0,0,0,free_throw,1.0

In [7]:
# now find other possession enders

# field goal attempts end possessions
fgas = ['made2_jump','made3_jump','made2_dunk','made2_tip','made2_lay','miss2_jump','miss3_jump','miss2_dunk','miss2_tip','miss2_lay']

# turnovers end possessions

# field goal makes begin possessions for the other team
fgms = ['made2_jump','made3_jump','made2_dunk','made2_tip','made2_lay']

# free throw makes on last fts begin poss for other team
# ftms = ['made1_free']

# rebounds begin possessions
rebs = ['reb_off','reb_def','reb_team']

def add_poss_markers(events): 
    events['OtherTeam'] = np.where(events['EventTeamID']==events['WTeamID'], events['LTeamID'], events['WTeamID'])
    events['PossBegin'] = np.nan
    events['PossEnd'] = np.nan
    
    events['PossEnd'] = np.where(events['EventType'].isin(fgas), events['EventTeamID'], events['PossEnd'])
    events['PossEnd'] = np.where(events['EventType']=='turnover',events['EventTeamID'], events['PossEnd'])
    events['PossEnd'] = np.where(events['FTPossEnd']==1, events['EventTeamID'],events['PossEnd'])
    
    events['PossBegin'] = np.where(events['EventType'].isin(rebs), events['EventTeamID'], events['PossBegin'])
    events['PossBegin'] = np.where(events['EventType']=='turnover',events['OtherTeam'], events['PossBegin'])
    events['PossBegin'] = np.where(events['EventType'].isin(fgms), events['OtherTeam'], events['PossBegin'])
    events['PossBegin'] = np.where(((events['EventType']=='made1_free')&(events['FTPossEnd']==1)), events['OtherTeam'], events['PossBegin'])
    
    return events

    
    
df = add_poss_markers(df)

# df.to_csv(output+'sample',index=None)

df.head()

,EventID,Season,DayNum,WTeamID,LTeamID,WPoints,LPoints,ElapsedSeconds,EventTeamID,EventPlayerID,...,OT,TimeRemain,WDiff,EDiff,TotalPoints,IsFT,FTPossEnd,OtherTeam,PossBegin,PossEnd
0,30099809,2019,1,1104,1380,0,0,18,1380,657441,...,0,2382,0,0,0,assist,0.0,1104,NaN,NaN
1,30099810,2019,1,1104,1380,0,2,18,1380,657447,...,0,2382,-2,2,2,made2_jump,0.0,1104,1104.0,1380.0
2,30099811,2019,1,1104,1380,2,2,42,1104,653561,...,0,2358,0,0,4,made2_jump,0.0,1380,1380.0,1104.0
3,30099812,2019,1,1104,1380,0,0,58,1380,657437,...,0,2342,0,0,0,turnover,0.0,1104,1104.0,1380.0
4,30099813,2019,1,1104,1380,0,0,63,1104,653565,...,0,2337,0,0,0,assist,0.0,1380,NaN,NaN

In [11]:
# add tipoff

df.groupby(['GameID'])['EventID'].apply(lambda x: x.shift(-1).iloc[-1]).reset_index()

#     .sort_values('group')
#     .reset_index(drop=True))


# (pd.concat([df1, 
#             df1.groupby('group')['value'].apply(lambda x: x.shift(-1).iloc[-1]).reset_index()])
#     .sort_values('group')
#     .reset_index(drop=True))

# possessions either end on a field goal attempt, a free throw attempt, an offensive rebound, or a turnover
# so let's make a column denoting all of these



# identify pairs and triplets of FTs by the same team - mark end of poss

               GameID  EventID
0     201910011011311      NaN
1     201910011191131      NaN
2     201910011331260      NaN
3     201910011441214      NaN
4     201910011591221      NaN
5     201910011601113      NaN
6     201910011681253      NaN
7     201910011951312      NaN
8     201910011961435      NaN
9     201910011991448      NaN
10    201910012011129      NaN
11    201910012041375      NaN
12    201910012051149      NaN
13    201910012061269      NaN
14    201910012091407      NaN
15    201910012161263      NaN
16    201910012231146      NaN
17    201910012321434      NaN
18    201910012331373      NaN
19    201910012391391      NaN
20    201910012471182      NaN
21    201910012481298      NaN
22    201910012491322      NaN
23    201910012511252      NaN
24    201910012551219      NaN
25    201910012591110      NaN
26    201910012621107      NaN
27    201910012721187      NaN
28    201910012741155      NaN
29    201910012791120      NaN
...               ...      ...
5427   20199812421395      NaN
5428   20199812991271      NaN
5429   20199813001175      NaN
5430   20199813131197      NaN
5431   20199813541164      NaN
5432   20199813661288      NaN
5433   20199813801238      NaN
5434   20199814381314      NaN
5435   20199911301338      NaN
5436   20199911321141      NaN
5437   20199911381103      NaN
5438   20199911721200      NaN
5439   20199911791356      NaN
5440   20199911811257      NaN
5441   20199911851325      NaN
5442   20199912431400      NaN
5443   20199912611246      NaN
5444   20199912661177      NaN
5445   20199912681345      NaN
5446   20199912771458      NaN
5447   20199912801104      NaN
5448   20199912811116      NaN
5449   20199913361276      NaN
5450   20199913461351      NaN
5451   20199913611161      NaN
5452   20199913821386      NaN
5453   20199913851139      NaN
5454   20199914011208      NaN
5455   20199914241102      NaN
5456   20199914441296      NaN

[5457 rows x 2 columns]